@use '../../settings/index' as *;

.c-cardStats {
  position: relative;
  width: 343px;
  height: 152px;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 3px 20px #0000000b;
  background-color: #FFF;
  border-color: transparent;

  &:before {
    content: "";
    position: absolute;
    border-radius: 12px;
    left: 0px;
    right: 0px;
    width: 90%;
    height: 90%;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 20px #0000000b;
    box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.25);
  }

  .AiOutlineShoppingCart {
    color: #4376FF;
    width: 28px;
    height: 28px;
  }

  .AiOutlineDesktop {
    color: rgba(245, 158, 11);
    width: 28px;
    height: 28px;
  }

  .AiOutlineUser {
    color: #0D9485;
    width: 28px;
    height: 28px;
  }

  div:nth-child(1) {
    display: flex;

    div:nth-child(2) {
      color: #FFF;
      margin-left: auto;
      width: 45.64px;
      height: 22px;
      font-weight: 500;
      font-size: 12px;
      line-height: 24px;
      padding-right: 12px;
      padding-left: 12px;
      border-radius: 999px;
      align-items: center;
      background-color: rgb(13, 148, 136);
    }
  }

  div:nth-child(2) {
    display: inline-block;

    p {
      line-height: 32px;
      font-weight: 500;
      font-size: 30px;
      margin-top: 24px;
    }

    span {
      font-weight: 500;
      margin-top: 4px;
      font-size: 16px;
      line-height: 24px;
      color: rgba(100, 116, 139);
      opacity: 1;
    }
  }
}
