@use '../../settings/index' as *;

.c-cardCategory{
  grid-column: span 12 / span 12;

  .card-Image{
    position: absolute;
    object-fit: cover;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 2px #fff, 1px 1px 5px rgba(0,0,0,.32);
    border-radius: 9999px;
    max-width: 100%;
  }

  table{
    text-indent: 0;
    border-color: inherit;
    text-align: left;
    border-spacing: 10px;
    border-collapse: separate;
    width: 100%;
    margin-top: -0.5rem;

    thead{
      .tr-content{
        vertical-align: middle!important;
        z-index: 49;
        position: relative;
      }

      td{
        vertical-align: middle;
        padding: 0.75rem 1.25rem;
        --tw-shadow: 20px 3px 20px #0000000b;
        --tw-shadow-colored: 20px 3px 20px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, #0000),var(--tw-shadow);
      }

      .td-first{
        border-bottom-width: 0px;
        border-top-left-radius: 0.375rem;
        border-bottom-left-radius: 0.375rem;
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        width: 10rem;

        .td-flex{
          display: flex;

          .div-zoomin{
            width: 2.5rem;
            height: 2.5rem;
            position: relative;
          }
        }
      }
      .td-second{
        width: auto;
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));

        .a-second{
          font-weight: 500;
          white-space: nowrap;
          color: inherit;
          text-decoration: inherit;
        }
      }
      .td-third{
        text-align: center;
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        border-bottom-width: 0px;

        .a-third{
          --tw-text-opacity: 1;
          color: rgb(100 116 139 / var(--tw-text-opacity));
          align-items: center;
          display: flex;
          margin-right: 0.75rem;
          text-decoration: inherit;
        }

      }
      .td-beforelast{
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        border-bottom-width: 0px;
        width: 10rem;

        .td-beforelast-button{
          --tw-text-opacity: 1;
          color: rgb(var(--color-danger) / var(--tw-text-opacity));
          justify-content: center;
          display: flex;
          align-items: center;
        }

      }
      .td-last{
        border-top-right-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        border-bottom-width: 0px;
        width: 14rem;
        position: relative;

        .td-last-button{
          align-items: center;
          justify-content: center;
          display: flex;

          .a-last-button{
            align-items: center;
            display: flex;
            margin-right: 0.75rem;
            color: inherit;
            text-decoration: inherit;
          }

          .a-last-button-2{
            align-items: center;
            display: flex;
            text-decoration: inherit;
          }
        }
      }
    }

    .thead-1{
      tr{
        th{
          font-weight: 500;
          padding: 0.75rem 1.25rem;
          border-bottom-width: 0;
          white-space: nowrap;
          text-align: center;
        }

        .th-last{
          text-align: center;
        }
      }
    }
  }
}
