@use '../../settings/index' as *;

.c-cardUsers{
  width: 526.54px;
  height: 88px;
  position: relative;
  box-shadow: 0 3px 20px #0000000b;
  background-color: #fff;
  border-color: transparent;
  border-radius: 6px;
  padding: 14px;

  .cardUsers-Image{
    position: absolute;
    object-fit: cover;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 2px #fff, 1px 1px 5px rgba(0,0,0,.32);
    border-radius: 9999px;
    max-width: 100%;
    display: block;
    vertical-align: middle;
  }

  div:nth-child(1){
    display: flex;
    align-items: center;
    height: 100%;

    div:nth-child(1){
      width: 48px;
      height: 48px;
      margin-right: 20px;
      position: relative;
    }

    div:nth-child(2){
      text-align: left;
      margin-right: auto;
      margin-left: 8px;
      margin-top: 0;

      a{
        font-weight: 500;
        color: inherit;
        text-decoration: inherit;

      }

      .c-role{
        color: rgba(100, 116, 139, 1);
        font-size: 12px;
        line-height: 16px;
        margin-top: 2px;
      }
    }

    div:nth-child(3){
      margin-top: 0;
      display: flex;

      .c-a-button{
        background-color: #4376FF;
        margin-right: 8px;
        color: rgba(255, 255, 255, 1);
        font-weight: 500;
        padding: 4px 8px;
        border-color: rgba(var(--color-primary), 1);
        border-radius: 6px;
      }

      .c-a2-button{
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        color: rgba(100, 116, 139, 1);
        font-weight: 500;
        padding: 4px 8px;
        border-color: rgba(var(--color-secondary), 1);
        border-radius: 6px;
      }
    }
  }
}
