@use '../../settings/index' as *;

.c-iconText {
  --tw-text-opacity: 1;
  margin-top: 1.25rem;
  color: #475569;

  .all-icon {
    margin-right: 8px;
    font-size: 19px;
  }

  div:nth-child(1) {
    margin-bottom: 5%;
    border-bottom: solid 1px;
    border-color: #e2e8f099;

    h2 {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      margin-bottom: 5%;

      button {
        margin-left: 5px;
        color: #475569;
        font-size: 9px;
      }
    }
  }

  div:nth-child(2) {
    align-items: center;
    display: flex;
    margin-top: 0.5rem;

    p {
      font-size: 14px;
    }
  }

  div:nth-child(3) {
    align-items: center;
    display: flex;
    margin-top: 0.5rem;

    p {
      font-size: 14px;
    }
  }

  div:nth-child(4) {
    align-items: center;
    display: flex;
    margin-top: 0.5rem;

    p {
      font-size: 14px;
    }
  }
}
