@use '../../settings/index' as *;

.c-input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid $grey-color-5;
  border-radius: 5px;
  font-size: $x-small;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.043);
  color: $tertiary-text-color;
}

.c-input-rounded {
  border-radius: 30px;
}

.c-input::-webkit-input-placeholder {
  font-size: $x-small;
  font-weight: $xw-300;
  color: $grey-color-4;
}

.c-input::-moz-placeholder {
  font-size: $x-small;
  color: $grey-color-4;
}

.c-input::-ms-input-placeholder {
  font-size: $x-small;
  font-weight: $xw-300;
  color: $grey-color-4;
}

.c-input:focus {
  border-color: $primary-color;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(67, 117, 255, 0.6);
  outline: 0 none;
}
