@use '../../settings/index' as *;

.c-trial-message {
  width: 98%; /* the same width as c-below-topbar */
  height: auto; /* change this line */
  background-color: #e1d8ff; /* For a yellow bar, change to your preference */
  text-align: center;
  font-weight: bold;
  color: #111827; /* For black text, change to your preference */
  border-radius: 10px; /* the same border-radius as c-below-topbar */
  padding: 10px; /* If necessary, adjust as needed */
  z-index: 1;
  position: sticky;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -10px;
}

.c-topbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  position: sticky;
  width: 98%;
  height: 70px;
  margin: 10px 0 20px 20px;
  color: $main-color;
  z-index: 1;


  .c-below-topbar {
    width: 98.5%;
    height: 100%;
    background-color: #cabdf6;
    border-radius: 10px;
  }

  .c-above-topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 85%;
    padding: 10px 30px;
    background: linear-gradient(76.35deg, #801AE6 15.89%, #A21AE6 89.75%);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.04);
    border-radius: 10px;

    .c-above-topbar-left a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      color: inherit;
      // border-right: 1px solid rgba(255, 255, 255, 0.25); To add for breadcrumble

      span {
        font-size: $small;
        margin-left: 10px;
      }
    }

    .c-above-topbar-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 18%;
      height: 100%;

      svg {
        width: 20px;
        height: 20px;
        color: inherit;
      }

      .c-notification {
        margin: 0 20px 0 20px;
      }

      .c-profile-avatar {
        display: flex;
        flex-direction: column;
      }

    }

  }

}
